{% extends 'base.html' %}     
<!-- extends burada yönlendirme aracı olarak kullanılıyor. -->
{% load static %}    
{% block body %}
<main>
  <div class="container">
      <div class="row my-4">
          <!-- BLOG KART START -->
          <div class="col-8">
              <div class="row">
                  <h2 style="box-shadow: -3px 3px 0 cornflowerblue ; width: fit-content; " class="m-2 mb-4 p-2 rounded-bottom-3   ">En Popüler Bloglar</h2>
                  {% for i in blog_list %}
                      <div class="col-12">
                          <a href="/detail/{{i.id}}" 
                          class="card mb-3 flex-row" style="height: 200px;">
                              <img src="{{i.image.url}}"alt="Trendy Pants and Shoes"class="img-fluid rounded-start h-100 " style="width: 350px; object-fit: cover;"/>
                              <div class="card-body d-flex flex-column justify-content-between">
                                  <h5 class="card-title">
                                      <div>{{ i.title }}</div>
                                  </h5>
                                      <div class="d-flex gap-2 tags">
                                          <span>#Html</span>
                                          <span>#Css</span>
                                          <span>#Js</span>
                                          <span>#React</span>
                                          <span>#C++</span>
                                          <span>#Python</span>
                                      </div>
                                  <p class="card-text">
                                          {{ i.text| truncatechars:60}} 
                                          <!-- karekter sayısını düzenlemek için kullanılan yöntem -->
                                      </p>
                                      <p class="card-text d-flex justify-content-between ">
                                          <small class="text-muted">{{ i.date_now }}</small>
                                          <small class="text-primary">{{ i.user }}</small>
                                      </p>
                                  </div> 
                          </a>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <!-- BLOG KART END -->

          <div class="col-4">
            <!-- arama methodları GET İLE yazılır genelde -->
            <form method="GET" class="d-flex"> 
              <input class="form-control" type="search" name ="query" placeholder="Ara">
              <button class="btn btn-secondary " type="submit" style="margin-left: -20px;">Ara</button>
             </form>
            <ul class="list-group list-group-light">
              {% for i in category_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                 <div>
                    <a href="/all/{{ i.slug }}" class="fw-bold mycategory text-dark">
                       <span style="background-color: {{ i.color }};" class="badge rounded-pill badge-warning"> </span>
                       {{ i.title }}
                    </a>
                 </div>
              </li>
           {% endfor %}
            </ul>
          </div>
      </div>
  </div>
</main>
{% endblock body %}
{% block head %}
  <style>
      .tags span:nth-child(3n){
          color: brown;
      }
      .tags span:nth-child(3n-1){
          color: blueviolet;
      }
      .tags span:nth-child(3n-2){
          color: rgb(38, 0, 255);
      }
  </style>
{% endblock head %}