{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main>
                <!--Section: Leave a reply (Not Logged In User)-->
                <section>
                    <div class="reply-form">
                       <h1 class="section-heading">İletişim </h1>
                       <h4>İletişime Geç: <span>
                             <!--Facebook-->
                             <a href="https://www.facebook.com/mdbootstrap" target="_blank"
                                class="btn-floating  btn-fb"><i class="fa fa-facebook"> </i></a>
                             <!--Twitter-->
                             <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating  btn-tw"><i
                                   class="fa fa-twitter"> </i></a>
                             <!--Google +-->
                             <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank"
                                class="btn-floating  btn-gplus"><i class="fa fa-google-plus"> </i></a>

                          </span> <br><br>or:</h4>

                       <div class="md-form">
                          <i class="fa fa-user prefix"></i>
                          <input type="text" id="form22" class="form-control">
                          <label for="form42">Your name</label>
                       </div>

                       <div class="md-form">
                          <i class="fa fa-envelope prefix"></i>
                          <input type="text" id="form32" class="form-control">
                          <label for="form34">Your email</label>
                       </div>

                       <div class="md-form">
                          <i class="fa fa-home prefix"></i>
                          <input type="text" id="form32" class="form-control">
                          <label for="form34">Your website</label>
                       </div>

                       <div class="md-form">
                          <i class="fa fa-pencil prefix"></i>
                          <textarea type="text" id="form8" class="md-textarea"></textarea>
                          <label for="form8">Your message</label>
                       </div>

                       <div class="text-center">
                          <button class="btn btn-primary">Submit</button>
                       </div>
                    </div>
                 </section> 
    </main>
{% endblock body %}
